@model Nutricionista.Models.PacienteViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pacientes[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pacientes[0].Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pacientes[0].FechaNacimiento)
            </th>
            <th>Edad</th>
            <th>
                @Html.DisplayNameFor(model => model.Pacientes[0].Email)
            </th>   
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var paciente in Model.Pacientes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => paciente.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(model => paciente.Sexo)
                </td>
                <td>
                    @Html.DisplayFor(model => paciente.FechaNacimiento)
                </td>
                <td>
                    @Model.Edad(paciente)
                </td>
                <td>
                    @Html.DisplayFor(model => paciente.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@paciente.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@paciente.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@paciente.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
